<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./inc/head")%>
</head>

<body>

    <%- include("./inc/nav")%>
        <section>
            <h1>
                <%= blog.title %>
            </h1>
            <p>
                <%= blog.long %>
            </p>
        </section>
















        <!-- değişken tanımlama -->
        <!--  <% let name = "Burak" %>
    <h1>about</h1> -->

        <!-- tanımlanmış olan değişkeni kullanmak -->
        <!-- <p><%= name %></p> -->
</body>

</html>